.btn {
    display: inline-block;
    background-color: #EA1E63;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 20px;
    font-size: 18px;
}

.round {
    border-radius: 30px;
}

.btn.fa {
    padding: 15px;
    width: 50px;
    text-align: center;
    font-size: 28px;
}