.progress-bar {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

    .progress-bar + .progress-bar {
        margin-bottom: 20px;
    }

    .progress-bar > .top {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }

        .progress-bar > .top > .label {
            display: inline-block;
            float: left;
        }

        .progress-bar > .top > .percentage {
            display: inline-block;
            float: right;
         }

    .progress-bar > .bottom {
        display: inline-block;
        width: 100%;
        height: 5px;
        background-color: #cccccc;
    }

            .progress-bar > .bottom > .progress {
            display: inline-block;
            height: 100%;
            width: 86%;
            background-color: transparent;
        }

            .progress-bar > .bottom > .progress > .bar {
                display: inline-block;
                height: 100%;
                width: 100%;
                background-color: #36f;
                animation-name: loading;
                animation-duration: 5s;
            }

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
